// ==============breakpoint============

// Extra small screen / phone
@screen-xs: 480px;

// Small screen / tablet
@screen-sm: 576px;

// Medium screen / desktop
@screen-md: 768px;

// Large screen / wide desktop
@screen-lg: 992px;

// Extra large screen / full hd
@screen-xl: 1200px;

// Extra extra large screen / large desktop
@screen-xxl: 1600px;

// 用于覆盖 UI组件库 的样式
@primary-color: #f86653;
@color-primary-1: rgb(255 245 243);
@color-primary-2: rgb(255 232 227);
@color-primary-3: rgb(254, 222, 215);
@color-primary-4: rgb(254, 197, 185);
@color-primary-5: rgb(248, 143, 129);
@color-primary-6: rgb(247 103 84);
@color-primary-7: rgb(237, 87, 67);
@color-primary-8: rgb(224, 81, 62);
@color-primary-9: rgb(183, 51, 34);
@color-primary-10: rgb(151, 36, 20);
