// 用于定义全局样式变量
@import './prefix.less';

@background-default-color: #fafafa;
@background-primary-color: #fff8f7;
@base-primary-color: @primary-color;
@primary-color: @base-primary-color;

@color-text-hover: @base-primary-color;
@color-base-title: @base-primary-color;
@background-base: #f7f8fa;
@scrollbar-custom-color: #fcc6bf;
@scrollbar-custom-color-hover: #fab2a9;
@scrollbar-color: rgb(185, 185, 185);
@scrollbar-color-hover: rgb(160, 160, 160);

/* 门户 */
@protal-header-height: 60px;
@protal-header-background: #fff;
@protal-footer-height: 108px;
@protal-footer-background: transparent;

@base-text-color: #151515;

// title
@title-text-color: @base-text-color;
@sub-text-color: #4e5969;
@weak-text-color: #86909c;

// 伪类样式
@visited-text-color: #86909c;
@hover-text-color: #86909c;

@border-base-color: #e5e6eb;
